/* desktop firts desde el MQ más grande */



/* @media screen and (max-width:1024px){
    body {
      border: 10px solid rgba(60, 255, 0, 0.932);
    }
    } */

/* @media screen and (max-width:767px) {
    .header {
    display: block;
    height: auto;
    }
    } */


/* @media screen and (max-width:480px){
    body {
    border: 10px solid rgba(60, 255, 0, 0.932);
    }
    } */
    

/* @media screen and (max-width:320px){
    body {
    border: 10px solid rgba(60, 255, 0, 0.932);
    }
    } */